@font-face {
  font-family: 'fontawesome';
  src: url('fonts/fontawesome-webfont.woff');
}
@font-face {
  font-family: 'oswald';
  src: url('fonts/oswald.woff2');
}
@font-face {
  font-family: 'oswald-bold';
  src: url('fonts/oswald_bold.woff2');
}